<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="dbconn" connectionString="Persist Security Info=False;User ID=tester;Password=abc123456;Initial Catalog=Test;Server=127.0.0.1" providerName="System.Data.SqlClient" />
  </connectionStrings>


 
	
</configuration>


